<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" strict="true">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] [%t/%-4level]: %msg%n"/>
        </Console>
        <RollingFile name="AppFile" fileName="logs/app.log" filePattern="logs/app.%d{MM-dd-yyyy-HH-mm}.%i.log.gz"
                     ignoreExceptions="false">
            <PatternLayout pattern="%-4relative [%d{yyyy-MM-dd HH:mm:ss}] [%t] %-4level %logger{35} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="3 GB"/>
                <OnStartupTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="3">
                    <IfFileName glob="logs/app.*.log.gz"/>
                    <IfLastModified age="14d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="WsFile" fileName="logs/webserver.log" filePattern="logs/webserver.%d{MM-dd-yyyy-HH-mm}.%i.log.gz"
                     ignoreExceptions="false">
            <PatternLayout pattern="%-4relative [%d{yyyy-MM-dd HH:mm:ss}] [%t] %-4level %logger{35} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="3 GB"/>
                <OnStartupTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="3">
                    <IfFileName glob="logs/webserver.*.log.gz"/>
                    <IfLastModified age="14d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="AppFile"/>
            <AppenderRef ref="Console" level="${sys:katan.log.level}"/>
        </Root>
        <Logger name="me.devnatan.katan.webserver" additivity="false">
            <AppenderRef ref="WsFile" level="ALL"/>
        </Logger>
    </Loggers>
</Configuration>