@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,500,700');

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  position: relative;
}

body {
  font-family: "Raleway", sans-serif;
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  line-height: 1.2;
  font-size: 1.5em;
  background-color: map_get($colors, 'a');
  color: #FFF;
}

html, body, #app {
  height: 100%;
  width: 100%;
}

a {
  color: #FFF;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

code {
  font-size: 14px
}

.main {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  flex-direction: row;
  height: 100%;

  .inner {
    flex: 1 0 auto;
    max-width: 92%;
    position: relative;
    left: 8%;
  }
}
