h1 { font-size: 4rem }
h2 { font-size: 3.6rem }
h3 { font-size: 3.0rem }
h4 { font-size: 2.4rem }
h5 { font-size: 1.8rem }
h6 { font-size: 1.5rem }

@media (min-width: map_get($breakpoints, 'medium')) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

h1, h2, h3, h4, h5, h6 { font-weight: 500; }
