.menu {
  position: fixed;
  width: 8%;
  height: 100%;
  padding-bottom: 1rem;
  background-color: $blue_color;

  .klogo {
    color: #FFF;
    text-shadow: 1px 1px 1px;
    height: 120px;
    line-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
    font-weight: 700;
    font-family: 'Titillium Web', sans-serif;
    background-color: rgba(0, 0, 0, .1);
    user-select: none;

    span {
      user-select: none;
      transform: skew(-12deg);
    }
  }

  ul {
    position: relative;
    list-style: none;
    margin: 2rem 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    li {
      position: relative;
      height: 100px;

      &:hover .tooltip {
        visibility: visible;
        opacity: 1;
      }

      &.disabled a {
        opacity: .47;
        cursor: default;
      }

      &.active a {
        opacity: 1;
      }

      .tooltip {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        text-align: center;
        background-color: $blue_color;
        padding: 5px 16px;
        border-radius: 20px;
        left: -20%;
        transform: translate(-50%, 10%);

        &:after {
          content: '';
          position: absolute;
          top: 50%;
          border-top: solid 10px $blue_color;
          border-left: solid 10px transparent;
          border-right: solid 10px transparent;
          -webkit-transform: rotate(270deg);
          -ms-transform: rotate(270deg);
          transform: rotate(270deg) translate(25%, 70%);
        }
      }

      a {
        cursor: pointer;
        transition: opacity 200ms;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
          opacity: 1;
          span {
            display: inline;
          }
        }

        svg {
          width: 32px;
          height: 32px;
          vertical-align: middle;
        }

        span {
          font-weight: 500;
          text-transform: uppercase;
          font-size: 14px;
          margin-top: 5px;
          display: none;
        }
      }

      &.bottom {
        transform: translateY(100%);
      }
    }
  }
}
