.flex {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
}

.flex-child {
  flex: 1 0 auto;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-start {
  align-items: flex-start;
  justify-content: flex-start;
}

.flex-end {
  align-items: flex-end;
  justify-content: flex-end;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}
