.btn {
  border-radius: .4rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
  padding: 6px 18px;
  outline: none;
  background-color: #404552;
  font-weight: 500;
  color: rgba(255, 255, 255, .8);
  -webkit-transition: background-color 200ms;
  -moz-transition: background-color 200ms;
  -ms-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  transition: background-color 200ms;

  &:not(.disabled):hover { background-color: rgba(0, 0, 0, .1) }

  &.disabled {
    cursor: default;
    opacity: .47;
  }

  &.danger {
    color: #ff6b6b !important;

    &:not(.disabled):hover {
      color: #ee5253 !important;
    }
  }
}
