.form {
  label {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 5px;
    opacity: 1;
    color: rgba(255, 255, 255, .6);
  }

  input, textarea {
    cursor: text;
    border-radius: .4rem;
    outline: none;
    padding: 1rem;
    font-size: 14px;
    width: 100%;
    color: #EEE;
    background-color: #4b5162;

    &::placeholder {
      color: #FFF;
      font-weight: 600;
      opacity: .47;
    }
  }

  textarea {
    max-width: 100%;
    min-width: 100%;
    overflow-y: scroll;
    resize: none;
    height: 100vh;

    &::-webkit-scrollbar {
      width: 12px;
      border-radius: .4rem;
    }

    &::-webkit-scrollbar-track {
      border-radius: .4rem;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: .4rem;
      background: rgba(0, 0, 0, .2);
    }
  }

  input {
    height: 38px;

    &[type=number] {
      -moz-appearance: textfield;
      appearance: textfield;
      margin: 0;
    }

    &[type=number]::-webkit-inner-spin-button,
    &[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .group {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 2rem
    }
  }

}
