.form {
  label {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 5px;
    opacity: 1;
    color: rgba(255, 255, 255, .6);
  }

  input {
    cursor: text;
    height: 38px;
    border-radius: .4rem;
    outline: none;
    padding: 0 1rem;
    font-size: 14px;
    width: 100%;
    color: #EEE;
    background-color: #4b5162;

    &::placeholder {
      color: #FFF;
      font-weight: 600;
      opacity: .47;
    }

    &[type=number] {
      -moz-appearance: textfield;
      appearance: textfield;
      margin: 0;
    }

    &[type=number]::-webkit-inner-spin-button,
    &[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .group {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;

    &:not(:last-child) { margin-bottom: 2rem }
  }

}
